<ion-modal-view class="no-connection-view" cache-view="false">
    <ion-content scroll="false">
        <div class="top-content">
            <div class="no-connection-logo">
                <img src="img/no-connection.svg">
            </div>
        </div>
        <div class="bottom-content">
            <div class="no-connection-title">
                <h1>No Internet Connection Detected</h1>
            </div>
            <div class="no-connection-description">
                <p>
                    This application requires an internet connection in order to perform. if you believe this is an error, please report immediately to <span class="text-bold">(855) 267-2777</span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>