<ion-view hide-nav-bar="true" class="login-view" cache-view="false">
    <ion-content scroll="false">
        <div class="top-content">
            <div class="login-logo">
                <img src="img/heart-ring.svg">
            </div>
        </div>
        <div class="middle-content">
            <div class="content-padding">
                <form name="authorizationForm" novalidate="">
                    <div class="row">
                        <div class="col">
                            <div class="input-icon">
                                <img src="img/input-icon-email.svg">
                                <label class="item item-input">
                                    <input type="email" placeholder="Email address:" ng-model="login.email" required="">
                                </label>
                            </div>

                            <div class="input-icon">
                                <img src="img/input-icon-heart.svg">
                                <label class="item item-input no-border-bottom">
                                    <input type="password" placeholder="Wedding Code:" ng-model="login.weddingcode" required="">
                                </label>
                            </div>

                            <div class="wedding-code">
                                <label class="item item-input">
                                    <input type="text" ng-model="login.pincode" required="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-full button-positive" ng-click="doLogin()" ng-disabled="authorizationForm.$invalid">RSVP</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-small button-clear button-light" ng-click="resendMyCode()">Resend My Code</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-content">
            <div class="app-logo">
                <img src="img/web-wed-logo-white.svg">
            </div>
            <div class="tos-notice">
                <h4>By registering, I accept the <a href="#/terms-of-service/back">Terms of Service</a> and <a href="#/privacy-policy/back">Privacy Policy</a></h4>
            </div>
        </div>
    </ion-content>
</ion-view>