<ion-view view-title="About Web Wed Mobile" class="about-view">

    <ion-nav-bar class="bar-stable bar-navigation">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false" class="has-header" style="top: 0px;">
        <div class="row logo-content">
            <div class="col">
                <div class="app-logo">
                    <img src="img/web-wed-logo-white.svg">
                </div>
                <div class="logo-title">
                    <h1>When love can't wait</h1>
                </div>
                <div class="logo-line">
                    <div class="h-line calm"></div>
                </div>
            </div>
        </div>

        <div class="row about-content">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>About</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Web Wed is dedicated to providing access to marriage equality to everyone all over the world. To help achieve this goal, the founders of Web Wed are pleased to announce the future debut of Web Wed Mobile; a cross-platform mobile application that will allow people to be wed from anywhere in the world, legally.All Web Wed ministers, officiants, reverends, and clergy are licensed and/or ordained. Web Wed has scoured the globe to locate equality friendly officiants to wed you anytime and anywhere you choose.Web Wed team consists of lawyers, ministers, techies, and volunteers to help bring each and every couple the proxy wedding they desire. Our dedication to forward thinking and love , law, and technology law allows us to stay ahead of the curve.Web Wed has defined what it means to be wed on YOUR TIME. Your schedule dictates where, when, and what takes place. No fears of being turned down by churches, banquet halls, or other venues.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>WHEN LOVE CAN'T WAIT</p>
                        <p>SAVE THE DATE:2/14/2016</p>
                        <p>SHARE LOVE SPREAD LOVE WED WEB</p>
                        <p>>MARRIAGE EQUALITY</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>1. TRADITIONAL WEDDING</p>
                        <p>2. PROXY WEDDING</p>
                        <p>3. SAME SEX WEDDING</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>INTRODUCING YOU'VE BEEN KISSED BY :</p>
                        <p>WEB WED</p>
                        <p>SHARE YOUR POTENTIAL SOUL MATE</p>
                        <p>IF YOU GET A LIKE YOU WILL RECEIVE A KISS</p>
                        <p>COMMUNICATION AND A LINK TO THEIR</p>
                        <p>SOCIAL MEDIA PAGE: BEFORE THERE IS LOVE :</p>
                        <p>THERE IS YOUR FIRST KISS: PRESENTED BY WEB WED</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            The best sort of love is easy and effortless. And promising one another eternal devotion at a wedding should be just as simple. That’s why we’ve created a new type of wedding that’s neither expensive nor complicated. Invite your friends – as many as you like and wherever they may be – and celebrate together via a video link. It's Simple and Most of all Its Legal!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>1. You Register Online With Web Wed</p>
                        <p>2. Obtain marriage license</p>
                        <p>3. You select Wedding Date</p>
                        <p>4. You Get  Marriage Education</p>
                        <p>5. You Submit copy of Marriage License( If applicable)</p>
                        <p>6. You Invite All Your family In Friends To your Wedding Online</p>
                        <p>7. You get Married Online By one of our Ordained Minister online and its all witness live online by family and friends &quot; WebWed&quot;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            www.webwedmobile.com.com
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row credits-content">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Credits</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Royalty free stock images licensced through www.RF123.com. Application Design and developoded by Riveloper, LLC - Atlanta, Ga. www.riveloper.com. Graphics and illustrations designed by Riveloper, LLC - Atlanta, GA. Open source libraries such as Cordova, WebRTC, and YouTube’s live stream service have been incorporated into certain elements of ths application. Fonts sourced via Google Fonts libraries. Testing was performed for both iOS and Android OS.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Contributors</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Paul Dimitrov for integration with back end and development of application front end.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row library-content">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Script Libraries</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>jQuery - http://jquery.com/</p>
                        <p>jQuery UI - http://jqueryui.com/</p>
                        <p>Bootstrap - http://getbootstrap.com/</p>
                        <p>Fancybox 2 - http://fancyapps.com/fancybox/</p>
                        <p>jquery.validation - http://jqueryvalidation.org/</p>
                        <p>smooth scroll.js - http://gist.github.com/galambalazs/6477177</p>
                        <p>wow.js - http://mynameismatthieu.com/WOW/</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row copyright-content">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            &copy; 2016 Web Wed, LLC - All rights reserved. For more information regarding this application please visit our website at www.webwedmobile.com. Use of this applicatoin is subject to our terms of service and privacy policy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>