.home-guest-view {
  background-color: $home-guest-view-bg-color;

  .bar.bar-header {
    background: rgba(255, 255, 255, 0.0);
  }

  .bar-stable {
    .button {
      color: $stable;
    }

    .title {
      color: $stable;
    }
  }

  .logo-content {
    height: 30%;

    .app-logo {
      padding-top: 30px;
      text-align: center;

      img {
        height: 40px;
      }
    }

    .logo-title {
      padding-top: 30px;
      text-align: center;

      font-family: "Nickainley Normal";
      font-size: 28px;
      font-weight: 300;
      color: $stable;
    }
  }

  .middle-content {
    height:50%;

    .heart-line {
      text-align: center;

      img {
        height: 15px;
      }
    }

    .name-title {
      text-align: center;

      h1 {
        color: $positive;
      }

      h4 {
        color: $stable;
        font-size: 17px;
      }

      .h-line {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      .watch-live {
        padding-top: 10px;

        color: $positive;
        font-family: "Nickainley Normal";
        font-size: 26px;
        font-weight: 300;
      }

    }

    .button-area {
      width: 70%;
      padding-top: 35px;
      margin-left: auto;
      margin-right: auto;

      text-align: center;

      .button {
        font-size: 18px;
      }

      .button-clear {
        font-size: 16px;
      }
    }
  }

  .bubble {
    position: fixed;
    width: 100%;
    bottom: 65px;

    img {
      width: 130px;
    }
  }

  .bottom-content {
    height: 60px;
    position: fixed;
    bottom: 10px;

    text-align: center;

    .col {

      &.col-19 {
        max-width: 19%;

        img {
          height: 30px;
        }
      }

      &.col-24 {
        max-width: 24%;

        img {
          height: 40px;
        }
      }
    }

    .divider {
      background-image: url('../img/tab-divider.svg');
      background-repeat: no-repeat;
      background-position: left center;
      backgrond-size: 5px 100%;
    }
  }
}