<ion-view view-title="Legal Information" class="legal-view">

    <ion-nav-bar class="bar-stable bar-navigation">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false" class="padding">
        <h5>Proxy Marriages</h5>
        <p>
            A proxy marriage is a marriage where the parties were not physically present in the presence of each other. Someone stands in for the other party because either the bridge or the groom is not physically present for the marriage, based upon a power of attorney, an agent acts on behalf of one of the parties. The marriage is presumed valid if it is valid in the country that performs the ceremony. Mostly compared and used in military marriages, and maximum security facility. Marriage by proxy, with only one party to the marriage making an appearance, is possible in the Inited States. It is always necessary for one of the two parties(either husband or wife) to actually appear before the Civil Authorities.
        </p>
        <h5>Written Authorization for Third Person to Act as Proxy</h5>
        <p>If a party to a marriage is unable to be present at the solemnization, that party may authorize in writing a third person to act as his proxy. If the person solemnizing the marriage is satisfied that the absent party is unable to be present and has consented to the marriage, he or she is not satified, the parties may petition the court for an order permitting the marriage to be solemnized by proxy.</p>
        <p>Proxy Marriages Allowed in Four States Marriage by proxy has been around a long</p>
    </ion-content>
</ion-view>